.top-leftc {
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    white-space: nowrap;
    z-index:2;
}


/* Position the bottom-right element */
.bottom-rightc {
    position: absolute;
    font-size: 0.8rem;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
    white-space: nowrap;
    z-index:2;
}

/* Position the center element */
.centerc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;

}
.contrel {
    position: relative;
    width: 60px;
    height: 40px;
    overflow: hidden;
}